@{
    Layout = "_CartLayout";
}

@model Cart


<div class="bg-light py-4 mb-4 d-flex justify-content-between align-items-center">
    <div class="container">
        <div class=" text-center">
            <h1 class="h2 mb-0">Shopping Cart</h1>
        </div>
    </div>
</div>

<div class="row col-12 g-4 min-vh-100">
    <div class="col-6 col-md-8 col-lg-8">
        @foreach (var product in @Model.ProductCart)
        {
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row align-items-center">
                        
                        <div class="col-6 col-sm-3">
                            <img src="@product.Product.ImgUrl" class="img-fluid rounded" alt="@product.Product.Name">
                        </div>
                        
                        <div class="col-6 col-sm-9">
                            <div class="d-flex justify-content-between align-items-start">
                                <h5 class="card-title mb-1">@product.Product.Name</h5>
                                
                                <a asp-action="DeleteProductOnCart" asp-route-productId="@product.Product.Id" class="btn btn-outline-danger  p-0"><i class="bi bi-trash"></i></a>
                                
                            </div>
                            
                            @if (@product.Product.Discount !=0)
                            {
                                var discount = System.Math.Round((@product.Product.Discount * 0.01) * @product.Product.Price);
                                var realPrice = @product.Product.Price-@discount; 
                                <p class="text-muted mb-2">$@realPrice</p>
                            }
                            else
                            {
                                <p class="text-muted mb-2">$@product.Product.Price</p>
                            }
                            
                            <form method="post" asp-controller="Cart" asp-action="UpdateCartQuantity" class="d-flex align-items-center">
                                <input type="hidden" name="productId" value="@product.ProductId" />

                                <div class="input-group input-group-sm w-auto">
                                    <button class="btn btn-outline-secondary" type="submit" name="change" value="-1">-</button>
        
                                    <input type="number" name="quantity" class="form-control text-center" value="@product.Quantity" min="1" style="max-width: 70px"
                                           onchange="this.form.submit()" />
                                    <button class="btn btn-outline-secondary" type="submit" name="change" value="1">+</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    
    
    <div class="col-5 col-md-4 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-4">Order Summary</h5>
                <div class="d-flex justify-content-between mb-2">
                    <span>Subtotal</span>
                    <span>$219.98</span>
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <span>Tax</span>
                    <span>$17.60</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between mb-4">
                    <strong>Total</strong>
                    <strong>$237.58</strong>
                </div>
                <button class="btn btn-primary w-100">Proceed to Checkout</button>
            </div>
        </div>
        <div class="mt-4 w-100 d-flex text-end">

            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">
                <i class="bi bi-arrow-left"></i>Back to Home
            </a>

        </div>

    </div>
</div>

