@model List<Products> 


<header class="bg-dark back py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>

<div class="container col-12 d-flex justify-content-end">
    <div class="col-6">
        <a asp-controller="Home" asp-action="Create" class="btn btn-outline-success text-end">Create a Product</a>
        <button class="btn btn-outline-danger justify-content-end text-end">Delete a Product</button>
        <a asp-controller="Category" asp-action="CreateCategory" class="btn btn-outline-success text-end">Create a Category</a>
    </div>
</div>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            
            @foreach(var obj in Model)
            {
                <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
                    <div class="card">
                        @if (@obj.Discount != 0)
                        {
                            <span class="percent">-@obj.Discount%</span>
                        }
                        <div class="card-image">
                            <img src="@obj.ImgUrl"  class="card-img-top"  width="100%" height="250px">
                        </div>
                        <div class="card-inner">
                            <span class="text-secondary">@obj.Category.Name</span>
                            <h5 class="mb-0">@obj.Name</h5>
                            @if (@obj.Discount != 0)
                            {
                                var discount = System.Math.Round((@obj.Discount * 0.01) * @obj.Price);
                                var realPrice = @obj.Price-@discount; 
                                <div class="price">
                                    <span>$@realPrice</span>
                                    <sup>$@obj.Price</sup>
                                </div>
                            }
                            else
                            {
                                <div class="price">
                                    <span>$@obj.Price</span>
                                </div>
                            }
                            <div class="mt-3 d-flex justify-content-between align-items-center">
                                
                                <a asp-controller="Home" asp-action="Details" asp-route-productId="@obj.Id"  class="btn btn-outline-secondary text-uppercase btn-sm details">Details</a>  
                                
                                <div class="d-flex flex-row">
                                    <a class="wishlist"><i class="bi bi-heart-fill"></i></a>
                                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@obj.Id" class="cart"><i class="bi bi-cart4"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<partial name="_ProductRecomended"/>


@section sweet
{
    @if (@TempData["ProductAddSucces"] != null && (bool)@TempData["ProductAddSucces"])
    {
        <script>
             Swal.fire({
             position: "top-end",
             icon: "success",
             title: "Your New Product has been saved",
             showConfirmButton: false,
             timer: 1500
             });  
        </script>
    }
    @TempData.Remove("ProductAddSucces");
    
    
    @if (@TempData["AddToCart"] != null && (bool)@TempData["AddToCart"])
    {
        <script>
              const Toast = Swal.mixin({
              toast: true,
              position: "top-end",
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
              toast.onmouseenter = Swal.stopTimer;
              toast.onmouseleave = Swal.resumeTimer;
               }
               });
               Toast.fire({
               icon: "success",
               title: "Added to Shopping Cart"
               });
        </script>
        @TempData.Remove("AddToCart");
    }
}